
.navbar,
.navbar .navbar-brand,
.navbar .btn {
  color: #1386c6 !important;
}


.navbar .btn {
  border-color: #1386c6 !important;
  color: #1386c6 !important;
  background-color: transparent !important;
}


.navbar .btn:hover,
.navbar .btn:focus {
  background-color: #1386c6 !important;
  color: #fff !important;
  border-color: #1386c6 !important;
}


.navbar .btn.cart-total {
  background-color: #1a1d1f !important;
  color: #fff !important;
  border-color: #1386c6 !important;
}

.navbar .btn.cart-total:hover,
.navbar .btn.cart-total:focus {
  background-color: #0d628f !important;
  border-color: #0d628f !important;
  color: #fff !important;
}

.pointer {
  cursor: pointer;
}